
body {
    margin: 0;
    font-family: 'serif';
    background: url('assets/background.png') no-repeat center center fixed;
    background-size: contain;
    background-color: black;
    color: white;
    text-align: center;
}

.hero .logo {
    width: 200px;
    margin: 20px auto;
}

header nav {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

header nav a {
    color: gold;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.product {
    padding: 20px;
    background-color: rgba(0,0,0,0.7);
    margin: 20px;
    border-radius: 10px;
}

.product-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
}
